<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!-- Add this to <head> -->
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap/dist/css/bootstrap.min.css"/>
		<link type="text/css" rel="stylesheet" href="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>

        <style>
            .table thead th {
				text-align: center;
                vertical-align: middle;
            }
        </style>

        <title>Endpoint</title>
	</head>

	<body>
		<div id="mount"></div>

		<!-- Vue templates -->
        <script type="text/x-template" id="root-template">
			<div>
				<nav class="navbar navbar-expand-lg navbar-dark bg-info">
                    <a class="navbar-brand">${ count } registros al ${ today }</a>
				</nav>
				
				<div class="container-fluid">
					<table class="table table-striped">
						<thead>
							<tr>
								<th rowspan="2">serial</th>
								<th rowspan="2">momsn</th>
								<th rowspan="2">transmit time</th>
								<th colspan="4">satellite</th>
								<th rowspan="2" class="text-danger">data (decoded)</th>
								<th rowspan="2" class="text-danger">receive time</th>
							</tr>
							<tr>
								<th>latitude</th>
								<th>longitude</th>
								<th>cep</th>
								<th>session status</th>
							</tr>
						</thead>

						<tbody>
							<tr v-for="(item, index) in sorted">
								<td class="text-right"> ${ item.serial }</td>
								<td class="text-right"> ${ item.momsn }</td>
								<td> ${ item.transmit_time }</td>
								<td class="text-right"> ${ item.iridium_latitude }</td>
								<td class="text-right"> ${ item.iridium_longitude }</td>
								<td class="text-right"> ${ item.iridium_cep } km</td>
								<td class="text-right"> ${ item.iridium_session_status }</td>
								<td style="white-space: nowrap;">
									<template v-for="(pair) in expand(item.decoded)">
										<p> ${ pair.q } x  ${ pair.s }</p>
									</template>
								</td>
								<td> ${ item.ts.substr(2) }</td>
								</tr>
							</tbody>
					</table>
				</div>
			</div>
		</script>

		<!-- Add Vue -->
		<script src="//unpkg.com/vue/dist/vue.js"></script>

		<!-- Add this after vue.js -->
		<script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
		<script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>

		<script src="//unpkg.com/axios/dist/axios.min.js"></script>

        <script>
            Vue.component('root-template', {
				template: '#root-template',
				delimiters: ['${', '}'],
                data: () => ({
					found: [{ serial: 12345 }, { serial: 56789 }],
					meds: [],	//	version for small set of meds
					today: ''
				}),
                computed: {
					count() {
						return this.found.length
                    },
                    json() {
						return JSON.stringify(this.found, null, 4)
                    },
                    sorted() {
						var list = this.found;
                        list.sort((a, b) => {
							var o1 = (a.transmit_time > b.transmit_time) - (a.transmit_time < b.transmit_time)
                            var o2 = (a.ts > b.ts) - (a.ts < b.ts)
                            return -1 *(2 * o1 + o2)	// desc
                        })
                        return list
                    },
                },
                methods: {
					expand: function(qs) {
						if (qs)
						return qs.split(',')
						.map( pairs => {
							let result = {};
							// let label = '', value = 0;
							pairs.split('&').forEach( pair => {
								pair = pair.split('=');
								pair[1] = parseInt(pair[1]);
								if (pair[0]==='s') {
									// label = this.meds.find( f => f.value===pair[1] ).label || '';
									pair[1] = this.meds.find( f => f.value===pair[1] ).label || '';
								}
								if (pair[0]==='q') {
									value = pair[1];
								}
								result[pair[0]] = decodeURIComponent(pair[1] || '');
								// result[label] = value;
							});
							return result;
						})
					},
					load: function(from) {
						axios.get('log').then(({ data }) => (this.found = data))
                        // this.meds = data.meds
						this.today = new Date().toJSON().slice(0, 16).replace('T', ', ')
					}
				},
				mounted: function() {
					axios.get('static/meds.json').then(({ data }) => (this.meds = data))

                    this.load()
					setInterval(this.load, 60000)
				}
            })
			
            /* Create a Vue instance */
            new Vue({ el: '#mount', template: `<root-template />` })
        </script>
	</body>
</html>
